# Variables de entorno para la base de datos en desarrollo local
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=db_news
DB_PORT=3306

# Puerto para el servidor
PORT=3000

# Variable de entorno para la base de datos en producción (ej. Clever Cloud, Render)
# Sequelize v6 puede usar esta URL de conexión directamente.
DATABASE_URL="mysql://user:pass@host:port/dbname"
